// Colors
$transparent: rgba(255, 255, 255, 0);
$white: #ffffff;
$black: #000000;
$black-20: rgba(0, 0, 0, 0.2);
$red: #ff121f;
$orange: #ffbf1a;
$orange-87: rgba(255, 191, 26, 0.87);
$grey: #b6b6b6;
$light-grey: #d1d1d1;

// ---------------------------------

// Default

$color-default-white: $white;
$color-default-black: $black;
$color-transparent: $transparent;

// Text

$color-text-base: $white;
$color-text-dark: $black;
$color-text-light: $light-grey;

// Button

$color-button-border: $white;
$color-button-bg: $white;
$color-button-bg-solid: $orange-87;


// Background

$color-bg-primary: $black;


// Icon

$color-icon-primary: $black;
$color-icon-hover: $black-20;
$color-icon-bg: $white;

// Form

$color-form-primary: $white;
$color-form-error: $red;
$color-input-border: $black;


// Shadow

$color-shadow-primary: $black-20;
$color-shadow-secondary: 0 5px 7px $white;
$color-shadow: 0 2px 15px $grey;

// Radius
$radius-default: 10px;

// Typography
// ---------------------------------

// переменная используемая в html для подключения скейлинга
$fz-default:                        16px;

// у некоторых шрифтов в ios возникают проблемы с символом рубля
// https://www.artlebedev.ru/kovodstvo/sections/159/#13
$ff-play:                    "Play", "Arial", sans-serif;


// Animation
// ---------------------------------

$tf-default:                        ease;
$trans-default:                     0.3s $tf-default;

// если требуется изинг отличный от $tf-default, то переменную называем не цифрой
$trans-modal:                       0.6s cubic-bezier(0.55, 0, 0.1, 1);

$trans-600:                         0.6s $tf-default;

// Viewports
// ---------------------------------

$vp-320:                            320px;
$vp-375:                            375px;
$vp-768:                            768px;
$vp-960:                            960px;
$vp-1100:                           1100px;
$vp-1370:                           1370px;
$vp-1920:                           1920px;

// Retina
// ---------------------------------

$retina-dpi:                        144dpi;
$retina-dppx:                       1.5dppx;
