.container {
  width: 100%;
  max-width: $vp-1370;
  min-width: 320px;
  margin: 0 auto;
  padding: 0 105px;

  @include vp1099 {
    padding: 0 50px;
  }

  @include tablet {
    padding: 0 45px;
  }

  @include mobile {
    padding: 0 20px;
  }
}
