section.about
  .container
    .about__wrapper
      h2.about__title О нас
      p.about__description Коллектив профессионалов, безумно любящих свое дело! Мы располагаемся в разных уголках России, чтобы подарить вам невероятные эмоции. С особым вниманием и заботой подготавливаем для вас каждую прогулку.
      dl.about__list
        .about__item
          dt.about__number 5000
          dd.about__word Клиентов
        .about__item
          dt.about__number 5
          dd.about__word Лет отпыта
        .about__item
          dt.about__number 200
          dd.about__word Туров
      picture
        source(srcset="./img/content/about.webp", type="image/webp")
        img.about__image(width="560", height="423", src="./img/content/about.jpg", srcset="./img/content/about@2.jpg 2x", alt="Два человека плыву по каньону на sup-бордах")
