section#features.features
  .features__wrapper
    h2.features__title Наши преимущества
    dl.features__list
      .features__item
        dt.features__subtitle Подходит новичкам и профессионалам
        dd.features__description Мы всему научим! Возраст, пол и ваш навык не имеют значения.
      .features__item
        dt.features__subtitle Мы любим ваших животных
        dd.features__description Ваша собака скучает дома? Берите ее на прогулку с собой Ваша собака скучает дома?
      .features__item
        dt.features__subtitle Комфорт и сопровождение
        dd.features__description Вы можете положить свои вещи в лодку нашего инструктора.
      .features__item
        dt.features__subtitle Перенос прогулки
        dd.features__description Вы можете перенести прогулку на другую дату
      .features__item
        dt.features__subtitle Лучшее оборудование
        dd.features__description Мы закупаем снаряжение только у высококлассных производителей.
      .features__item
        dt.features__subtitle Разнообразие маршрутов
        dd.features__description Мы постоянно генерируем идеи для новых прогулок. Нам важно удивить вас!
