footer.footer
  .container
    .footer__nav
      a.footer__logo.logo(href="#")
        img.logo__img(width=106, height=37, src="./img/logo.svg", alt="Логотип")
      ul.footer__menu.footer-menu
        li.footer-menu__item
          a.footer-menu__link(href="#about") О нас
        li.footer-menu__item
          a.footer-menu__link(href="#team") Услуги
        li.footer-menu__item
          a.footer-menu__link(href="#form") Контакты
        li.footer-menu__item
          a.footer-menu__link(href="#choice") Выбор тура
      a.footer__phone(href="tel:+74952490044") +7 495-249-00-44
