header.header
  .container
    nav.site-nav
      a.site-nav__logo.logo(href="#")
        img.logo__img(width=106, height=37, src="img/logo.svg", alt="Логотип")
      ul.site-nav__list.site-nav__list--menu
        li.site-nav__item
          a.site-nav__link(href="#about") О нас
        li.site-nav__item
          a.site-nav__link(href="#gallery") Галерея
        li.site-nav__item
          a.site-nav__link(href="#choice") Выбор тура
        li.site-nav__item
          a.site-nav__link(href="#why") Почему мы?
      ul.site-nav__list.site-nav__list--call
        li.site-nav__item
          a.site-nav__link.btn.btn--outline(href="#") Перезвонить вам?
        li.site-nav__item
          a.site-nav__link.site-nav__link--phone(href="tel:+74952490044") +7 495-249-00-44
