section.hero
  .container
    .hero__wrapper
      .hero__block
        h1.hero__title Получите незабываемые эмоции за 5 дней sup-прогулок по живописным местам
        p.hero__description Сэкономьте 15% при заказе авторского тура в сентябре
        a.hero__button.btn.btn--solid(href="#") Забронировать
      ul.hero__social.social
        li.social__item
          a.social__link(href="#", aria-label="Telegram")
            svg(width=19, height=17)
              use(xlink:href="img/sprite.svg#icon-telegram")
        li.social__item
          a.social__link(href="#", aria-label="Instagram")
            svg(width=21, height=21)
              use(xlink:href="img/sprite.svg#icon-instagram")
        li.social__item
          a.social__link(href="#", aria-label="Whatsup")
            svg(width=22, height=21)
              use(xlink:href="img/sprite.svg#icon-whatsup")
