.btn {
  display: inline-flex;
  border-radius: $radius-default;
  cursor: pointer;

  transition:
    background-color $trans-default,
    color $trans-default;

  &:disabled {
    opacity: 0.5;
    pointer-events: none;
  }
}

.btn--outline {
  border: 1px solid $color-button-border;
  padding: 9px 15px;
  background-image: none;

  &:hover {
    background-image: none;
    background-color: $color-button-bg;
    color: $color-text-dark;
  }

  &:focus {
    background-image: none;
    background-color: $color-button-bg;
    color: $color-text-dark;
  }

  &:active {
    background-image: none;
    background-color: $color-button-bg;
    color: $color-text-dark;
  }

  @include mobile {
    justify-content: center;
  }
}

.btn--solid {
  @include text-play-16-10-400;

  background-color: $color-button-bg-solid;
  border: none;
  color: $color-text-dark;
  filter: drop-shadow($color-shadow);
  justify-content: center;

  padding: 19px 35px 21px;

  &:hover {
    background-color: $color-button-bg-hover;
  }
}

.btn--card {
  @include text-play-15-17-400;

  background-color: $color-button-bg-hover;
  border: none;
  color: $color-text-dark;

  padding-top: 17px;
  padding-bottom: 17px;
  width: 100%;
  justify-content: center;


  &:hover {
    background-color: $orange-87;
  }

  &:focus {
    background-color: $orange-87;
  }

  &:active {
    background-color: $orange-87;
  }
}
