.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: $black-87;
  border-radius: $radius-default;
  box-shadow: $color-shadow-card;
  padding: 45px 20px;
  z-index: 10;

  @include mobile {
    padding: 20px;
  }
}

.card__title {
  @include text-play-30-35-400;

  color: $light-grey;
  margin-top: 0;
  margin-bottom: 20px;
  text-align: center;

  @include tablet {
    @include text-play-24-28-400;
  }

  @include mobile {
    @include text-play-22-26-400;

    margin-bottom: 10px;
  }
}

.card__age {
  @include text-play-16-19-400;
  color: $light-grey;
  margin-top: 0;

  @include tablet {
    @include text-play-14-15-400;
  }
}

.card__description {
  @include description;

  position: relative;
  color: $light-grey;
  text-align: center;
  margin-top: 75px;
  margin-bottom: 75px;

  &::before {
    content: "";
    position: absolute;
    height: 2px;
    width: 143px;
    left: 50%;
    top: -35px;
    transform: translateX(-50%);
    background-color: $orange;

    @include mobile {
      top: -25px;
    }
  }

  @include mobile {
    @include text-play-16-19-400;
    margin-top: 45px;
    margin-bottom: 45px;
  }
}

.card__price {
  @include text-play-16-10-400;

  margin-top: auto;
  color: $white;
  margin-bottom: 60px;

  @include mobile {
    margin-bottom: 35px;
  }
}

.card__price strong {
  @include text-play-35-35-400;
}
