.choice {
  position: relative;
  padding-top: 75px;
  padding-bottom: 105px;
  background-position-y: 25%;

  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background: linear-gradient(180deg, rgba(0, 0, 0, 0.18) 4.69%, rgba(0, 0, 0, 0.2) 26.04%, rgba(0, 0, 0, 0.2) 30.73%, rgba(0, 0, 0, 0.17) 42.19%, rgba(0, 0, 0, 0) 100%);
    z-index: 2;
  }

  &::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background: linear-gradient(180deg, rgba(0, 0, 0, 0.43), rgba(0, 0, 0, 0.37) 32.26%, rgba(0, 0, 0, 0) 100%) rgba(141, 141, 141, 0.94);
    z-index: 1;
  }

  @include vp1099 {
    padding-top: 50px;
    padding-bottom: 50px;
  }
}

.no-webp .choice {
  background: url("../img/common/section-bg.jpg");
  background-repeat: no-repeat;
  background-size: cover;

  @include retina {
    background-image: url("../img/common/section-bg@2x.jpg");
  }
}

.webp .choice {
  background-image: url("../img/common/section-bg.webp");
  background-repeat: no-repeat;
  background-size: cover;

  @include retina {
    background-image: url("../img/common/section-bg@2x.webp");
  }
}

.choice__wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.choice__title {
  @include title-2;

  position: relative;
  letter-spacing: -0.08em;
  text-shadow: 0 0 13px $black;
  margin-top: 0;
  margin-bottom: 80px;
  z-index: 10;

  &::before {
    content: "";
    position: absolute;
    top: 50%;
    left: -80px;
    height: 2px;
    width: 60px;
    background-color: $orange;
  }

  &::after {
    content: "";
    position: absolute;
    top: 50%;
    right: -80px;
    height: 2px;
    width: 60px;
    background-color: $orange;
  }

  @include vp1099 {
    margin-bottom: 40px;
  }
}

.choice__list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  column-gap: 40px;

  @include vp1099 {
    grid-template-columns: repeat(2, 1fr);
    gap: 30px;
  }

  @include tablet {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
}
