.hero {
  background-image: url("../img/common/canyon.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 830px;
}

.hero__wrapper {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  column-gap: 40px;
  padding-top: 260px;
  padding-bottom: 50px;
}

.hero__block {
  grid-column: 1 / 10;
}

.hero__title {
  @include text-play-48-56-400;
  margin-top: 0;
}

.hero__description {
  @include text-play-24-28-400;

  margin-top: 0;
  margin-bottom: 45px;
}

.hero__social {
  grid-column: 12 / 13;
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 40px;
}
