.site-nav {
  @include text-play-18-21-400;
  display: grid;
  position: relative;
  grid-template-columns: repeat(12, 1fr);
  column-gap: 40px;
  padding-top: 35px;
  align-items: start;

  @include vp1099 {
    column-gap: 30px;
  }

  @include mobile {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 20px;
  }
}

.site-nav__toggler {
  display: none;
  position: absolute;
  cursor: pointer;
  right: 0;
  top: 35px;
  border: 1px solid $color-text-base;
  background-color: transparent;
  height: 40px;
  width: 40px;
  background-image: url("../img/icon-close.svg");
  background-repeat: no-repeat;
  background-position: 50% 50%;
  color: $color-text-base;

  @include tablet {
    display: inline-flex;
  }

  @include mobile {
    top: 20px;
  }
}

.site-nav__logo {
  grid-column: 1 / 3;

  @include tablet {
    grid-column: 1 / 4;
  }

  @include mobile {
    align-self: start;
    margin-bottom: 30px;
  }
}

.site-nav__menu {
  grid-column: 4 / 10;

  @include tablet {
    order: 1;
  }

  @include mobile {
    order: 0;
  }
}

.site-nav__call {
  grid-column: 10 / 13;

  @include tablet {
    grid-column: 8 / 12;
  }
}

.site-nav--closed .site-nav__toggler {
  background-image: url("../img/icon-burger.svg");
}

.site-nav--closed .site-nav__menu {
  @include tablet {
    display: none;
  }
}

.site-nav--closed .site-nav__call {
  @include mobile {
    display: none;
  }
}

.no-js .site-nav {
  padding-bottom: 35px;
}

.no-js .site-nav__toggler {
  display: none;
}

.no-js .site-nav__call {
  grid-column: 10 / 13;

  @include tablet {
    grid-column: 8 / 13;
  }
}
