extends ../components/layout/layout.pug

block variables
  - let title = "Главная страница"
  - let page = "index"

block content
  main
    include ../components/blocks/hero.pug
    include ../components/blocks/about.pug
    include ../components/blocks/team.pug
    include ../components/blocks/choice.pug
    include ../components/blocks/gallery.pug
    include ../components/blocks/features.pug
    include ../components/blocks/form.pug
