mixin card(cardData)
  .card&attributes(attributes)
    h3.card__title= cardData.title
    small.card__age= cardData.age
    p.card__description= cardData.desc
    p.card__price
      strong= cardData.price
      |  р/чел
    a.card__button.btn.btn--card Забронировать
