-
  const card_data = [
    {
      title: "Индивидуальный тур",
      age: "(от 1 до 5 чел)",
      desc: "Тур планируется в удобную для вас дату. Мы учтем все ваши пожелания и организуем максимально комфортную прогулку",
      price: "3500"
    },
    {
      title: "Авторский тур",
      age: "(от 10 до 15 чел)",
      desc: "Мы запланировали маршрут! Выбирайте подходящий город и дату. Отправляйтесь в путешествие в нашей дружной компании!",
      price: "2500"
    },
    {
      title: "Корпоративный тур",
      age: "для вас и ваших сотрудников",
      desc: "Организуем эффективный и продуманный тимбилдинг. Спорт и релакс в одной прогулке.",
      price: "2000"
    }
  ]
