-
  const video_data = {
    videoLink: "https://www.youtube.com/embed/KkVG8nCbPvU?si=eYjNzb_gS5IHirnS",
    mediaQueries: {
      desktop: "(min-width: 1440px)",
      tablet: "(min-width: 768px)"
    },
    image: {
      desktop: {
        src: "./img/content/triple-set-desktop.jpg",
        src2x: "./img/content/triple-set-desktop@2x.jpg",
        srcWebp: "./img/content/triple-set-desktop.webp",
        src2xWebp: "./img/content/triple-set-desktop@2x.webp",
        width: "525",
        height: "636",
      },
      tablet: {
        src: "./img/content/triple-set-desktop.jpg",
        src2x: "./img/content/triple-set-desktop@2x.jpg",
        srcWebp: "./img/content/triple-set-desktop.webp",
        src2xWebp: "./img/content/triple-set-desktop@2x.webp",
        width: "525",
        height: "636",
      },
      mobile: {
        src: "./img/content/triple-set-mobil.jpg",
        src2x: "./img/content/triple-set-mobil.jpg",
        srcWebp: "./img/content/triple-set-mobil.webp",
        src2xWebp: "./img/content/triple-set-mobil.webp",
        width: "260",
        height: "325",
      },
      alt: "Набор из трех вязанных корзин"
    }
  }
